

.account-menu {
    font-family: 'Bebas Neue', cursive;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 14px;
    text-align: center;
}

.sidebar-menu{
    font-family: 'Montserrat', sans-serif;
    background-image: url('/complaint/bg3.jpg');
    height: 100vmax;
}

td {
    text-align: center;
}