@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.back-icon {
    width: 23px;
}

.navbar-brand {
    font-size: medium;
    color: #f6f6e9;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    font-size:larger;
}

.container {
    max-width: 1325px;
}

.report-hr {
    max-width: 1325px;
}

.col6 {
    max-width: 615px;
    margin-left: 10px;
}

.wrapper {
    margin-top: 75px;
} 

h3 {
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 5px;
}

h5 {
    font-size: 16px;
    margin-bottom: 0;
}

#contact {
    font-size: 13px;
}

.btn-outline-primary {
    background-color: #ffffff;
    border-color: black;
    color: black;
}

.btn-outline-success {
    color: rgb(255, 255, 255);
    background-color: black;
}

.btn {
    width: auto;
}

h6 {
    font-size: 13px;
    font-weight: 600;

}

.vr {
    height: auto;
    padding: 0;
}

.desc {
    font-size: 13px;
    font-weight: 600;
    opacity: 1;
}

p {
    text-align: justify;
}

.incident-info {
    text-align: justify;
}